body{
    background-color:rgb(19, 20, 29);
}

h1{
    color:#b30606;
    text-align: center;
}
h3{
    color: #EEE;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button{
    background-color: #b30606;
    color: #EEE;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 12px 28px;
    border-radius: 20px;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
    background-color: #b30606;
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #ff0000;
	display: table-cell;
	padding: 3px 3px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: rgb(205, 18, 18);
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.divIntroPage {
    background-color: #b30606;
    text-align: center;
    
}