body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 210, 223);
    text-align: center;
    color:rgb(94, 108, 127)
}

h1{
    text-align: center;
}

button{
    color: cadetblue;
}