.button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
    background: rgb(59, 86, 148);
    color:rgb(10, 23, 55);
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 12px;
}

body{
    background-color: rgb(17, 14, 59);
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(145, 161, 210);
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
